body {
    background-color: black;
    background-image: url("../images/carbon_fibre.webp");
}

.centered-container {
    text-align: center;
}

.dont-push-button {
    margin-top: 4rem;
    color: white;
    background: red;
    padding: 10px 20px;
    font-size: 40px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    font-family: fantasy;
    text-transform: capitalize;
}

.dont-push-button:hover {
    background-color: rgb(244, 50, 50);
    border: 3px solid rgb(255, 98, 0);
}

hr {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

h1 {
    text-align: center;
}